<li class="dropdown" data-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a asp-action="Index" asp-controller="Booking">&nbsp;&nbsp;Bookings</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="Invoice">&nbsp;&nbsp;Invoices</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="Flight">&nbsp;&nbsp;Flights</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="Vehicle">&nbsp;&nbsp;Vehicles</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="User">&nbsp;&nbsp;Users</a></li>
    </ul>
</li>
