<li class="dropdown" data-menu>
    <a href="#">
        Customer
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a asp-action="Checkout" asp-controller="Booking">&nbsp;&nbsp;Make Booking</a></li>
        <li class="divider" />
        <li><a asp-action="UserBookings" asp-controller="Booking">&nbsp;&nbsp;My Bookings</a></li>
        <li class="divider" />
        <li><a asp-action="SendEnquiry" asp-controller="User">&nbsp;&nbsp;Send Enquiry</a></li>
        <li class="divider" />
    </ul>
</li>