<li class="dropdown" data-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a asp-action="CustomerIndex" asp-controller="User">&nbsp;&nbsp;Customer Data</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="Booking">&nbsp;&nbsp;Booking Data</a></li>
        <li class="divider" />
        <li><a asp-action="Index" asp-controller="Invoice">&nbsp;&nbsp;Invoice Data</a></li>
    </ul>
</li>