<li class="dropdown" data-menu>
    <a href="#">
        Valeting Staff
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a asp-action="ValetingStaffIndex" asp-controller="Booking">&nbsp;&nbsp;Parking Data</a></li>
        <li class="divider" />
        <li><a asp-action="ValetingStaffIndex" asp-controller="Booking">&nbsp;&nbsp;Parking Data</a></li>
        <li class="divider" />
        <li><a asp-action="Reports" asp-controller="Booking">&nbsp;&nbsp;Generate Report</a></li>
        <li class="divider" />
    </ul>
</li>