<style>
    .extracenter
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
<center><h1>Default Home Page</h1></center>
<div class="extracenter">
<center><a asp-action="Create" asp-controller="Booking" class="btn btn-success"><h5>Make Booking</h5></a></center>
</div>
