
@{ 
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

    <div class="inner cover">
        <h1 class="cover-heading">Book your Car into our Parking today.</h1>
        <p class="lead">Welcome to Parkeasy Car Parking Bookings, To be able to book in you must first have a flight
        awaiting you at Glasgow Airport, we offer a range of Car Servicing during your flight. Please take your time to check your options.</p>
        <p class="lead">
            <a href="/Booking/Create" class="btn btn-lg btn-default my-2 my-lg-0">Book In Now!</a>
        </p>
    </div>