@model Parkeasy.Models.Booking

<style>
    .center-this
    {
        align-content: center;
    }
</style>

<h3 class="center-this">Sorry, those dates are unavailable</h3>

<a asp-action="Create" asp-controller="Booking" class="btn btn-success"><i class="fas fa-plus"></i> Create Booking</a>