body {
    font-family: 'Merriweather', serif;
}

.navbar-inverse .navbar-nav>li>a{
    color: black !important;
}

.navbar-brand
{
    margin-left: 15px !important;
    color: black !important;
}

.colouring
{
    color: black !important;
}
